*{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 56.25%;
    }

    @include respond(tab-port){
        font-size: 50%;
    }

    @include respond(big-desktop){
        font-size: 75%;
    }

}

#app{

    font-family: 'Josefin Sans', sans-serif;

    line-height: 1.6;
    box-sizing: border-box;
    

    .darkMode{
        background-color: hsl(234, 11%, 52%) !important;
        color: $color-white !important;
    }

    .darkMode2{
        background-color: hsl(234, 11%, 52%) !important;
        color: rgba(255, 255, 255, .5);
    }

    .darkColor1{
        color: $color-white;
    }

    .darkColor2{
        color: rgba(255, 255, 255, .5);
    }

    .darkBg{
        background-color: $bg-color-dark !important;
        color: $color-white !important;
    }

    .darkHover:hover{
        color: $color-white;
    }
}