.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

#text-app{
    color: rgba(0, 0, 0, 0.350);
    font-weight: 700;
    

    bottom: 1rem;
}
