$bg-color-light: hsl(0, 0%, 98%);
$bg-color-dark: hsl(235, 21%, 11%);

$color-white: #fff;
$color-black: #000;

$box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.1);
$b-radius: .4rem;

$checkBackground: linear-gradient(right hsl(192, 100%, 67%)to hsl(280, 87%, 65%));

