.input{
        display: flex;
        justify-content: center;
        align-items: center;
        

    &__form{
        
        justify-content: flex-start;
        align-items: center;
        width: 42rem;
        padding: 1.2rem 1.6rem;
        background-color: $color-white;
        top: 12rem;
        position: absolute;
        z-index: 10;
        border-radius: $b-radius;
        box-shadow: $box-shadow;
    }

    &__button{
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        border-color: hsl(235, 19%, 35%);
        background-color: white;
    }

    &__input{
        font-family: inherit;
        font-size: 1.2rem;
        border: none;
        margin-left: 2rem;
    }

    
}